<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>com.appmoss.madhillracing.5000coins</key>
		<dict>
			<key>ConsumableCount</key>
			<real>5000</real>
			<key>ConsumableId</key>
			<string>Coins</string>
		</dict>
		<key>com.appmoss.madhillracing.20000coins</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>20000</integer>
			<key>ConsumableId</key>
			<string>Coins</string>
		</dict>
		<key>com.appmoss.madhillracing.50000coins</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>50000</integer>
			<key>ConsumableId</key>
			<string>Coins</string>
		</dict>
	</dict>
	<key>Others</key>
	<array/>
	<key>SharedSecret</key>
	<string>749a1ca3750a421fa92cf8e139a6f539</string>
</dict>
</plist>
